/* Nút click button */
.danhsach {
  padding: 15px ;
  text-align: center;
}
.danhsach button{
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
}

/* Bảng */
.bxh{
  padding: 10px;
}
.main2 .chiadoi{
  width: 50%;
}
.main2 thead{
  background-color: #1dd1a1;
}
.main2 tbody tr td span {
  font-weight: bold;
}
.main2 .bxh{
  border-collapse:collapse;
  width:100%;
}        
.bxh tr:hover{
  background-color:#ddd;
  cursor:pointer;
}
.bxh table, .bxh tr, .bxh td{
  border: 1px solid #ccc;
}
/* Mũi tên lên xuống đứng yên */

.tenlen {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid greenyellow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.tenxuong {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dungyen {
  vertical-align: middle;
  border: solid grey;
  border-width: 3px 3px 3px 3px;
  display: inline-block;
  padding: 3px;
  border-radius: 50%;
}

/* Thông tin câu lạc bộ */

.anhclb{
  width: 20px;
  height: 20px;
  object-fit: scale-down;
  vertical-align: middle;
}
.clb{
  padding-left: 20px;
}

/* Pseudo Class */

.main2 a{
  text-decoration: none;
  font-weight: bold;
}
.main2 a:visited {
  color: black;
}
.main2 a:hover {
  color: red;
}
/*
-------------------------------------------------------------
Lịch thi đấu 
*/
.lichdau{
  padding-top: 40px;
}
.lichdau td:hover{
  background-color:#ddd;
  cursor:pointer;
}
.lichthidau{
  width: 80%;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
}
/* Ảnh La Liga */
.laliga {
  width: 60%;
  display:block;
  margin: 5px auto;
  object-fit: scale-down;
  text-align: center;
}
/* Menu điều hướng */
.dieuhuong{
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 30px auto;
  padding: 0 30px 0 30px;
  margin: 0px auto;
  text-align: center;
}
.danhmuc{
  padding: 20px;
  margin: 10px 40px 10px 40px;
  border-radius: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-weight:bold;
  
}
.danhmuc a {
  text-decoration: none;
  color: black;
}
/* Các khung trận đấu */
.tran1{
  width: 100%;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.tran2{
  width: 100%;
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.tran3{
  width: 100%;
  border-right: 1px solid;
  border-top: 1px solid;
}
.tran4{
  width: 100%;
  border-left: 1px solid;
  border-top: 1px solid;
}
.anhclb{
  width: 20px;
  height: 20px;
  object-fit: scale-down;
  vertical-align: middle;
  margin: 0 auto;
}
/* Xem thêm */
.arrow{
  display: block;
  width: 40px;
  height: 40px;
  object-fit: scale-down;
  margin: 0 auto;
  padding-top: 10px;
}
/* Pseudo */
.pseudo:visited {
  color: black;
}
.pseudo:hover {
  color: red;
}
